/*
COLORS:
Purple: #A16DFF
Light Purple:#D37EE8
Blue:#058CE8
Light Blue:#A6D9E1
Pink:#FF9ED4
*/
body {
    background-color; none;
    Color:#FF9ED4;
    font-family:'Lato', sans-serif;
}

#header {
    background-color: none;
    min-height: 80px;
}

#header > h1 {
    margin:0;
    text-align: center;
   /* font-family:'Lato', sans-serif;*/
    position: relative;
    transform: translateY(50%);
}
#nav {
    background-color:#FF9ED4 ;
    min-height: 80px;
    /*font-family:'Lato', sans-serif;*/
    height: auto;
}
#nav > ul{
    padding: 15px 0 15px 0;
    margin: 0;
    text-align: center;
}
#nav > ul > button{
        min-width: 178px;
    background-color: #A6D9E1;
    color: #A16DFF;
    border: none;
    padding: 15px 32px;
    -webkit-transition: backround-color 2s; 
    transition: background-color .25s;
    border-bottom: 2px solid #FF9ED4; 
}
#nav > ul > button:hover {
    background-color: #D37EE8;
    
    
}
/*.menu {
    display:flex;
    background:#d7e6f;
    justify-content: space-around;
    list-style-type: none;
    margin:0;
}*/
/*#middle-wrapper-width{
    display: flex;
    font-family: 'Lato',sans-serif;
    max-width: 960px;
    margin: 0 auto;
}
}
#middle-wrapper {
        
}*/

#main-content-wrapper {
    background-color: #fff;
}
#main-content-wrapper .image-content {
    text-align: center;
    margin:0 auto;
    margin-top: 50px;
}

.side-by-side {
    
}


.image-content > img {
    max-width: 200px;
    border-radius: 50%;
    border: 4px #FF9ED4 solid;
}

.image-content > h4 {
    font-family: 'Lato' , sans-serif;
    font-weight: 300;
    color:#FF9ED4;
}

.image-content > h4 > a {
    color:#FF9ED4;
} 

.image-content > h4 > a:hover {
    color:#A6D9E1;
} 

#main-content-wrapper article {
    
}

#main-content-wrapper article h2 {
    text-align: center;
}
#main-content-wrapper article p {
    max-width: 300px;
    margin:0 auto;
}

#main-content-wrapper #skills {
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
}
#main-content-wrapper #skills span {
    font-weight: 400;
}

#aside-content-wrapper {
    background-color: white;
    margin-top: 50px;
    /*font-family: 'lato', sans-serif;*/

}
#aside-right {
    margin: 0 50px 0 8px
}
#aside-right h3 {
    text-align: center;
}
#latest-work {
    list-style-type: none;
}
#latest-work > li {
    padding:15;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    border-bottom: 1px black solid;
}

#latest-work > li:before {
    content:'';
    border-color:transparent #FF9ED4;
    border-style:solid;
    border-width:.35em 0 .35em .45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top:.9em;
    position:relative;
    position:relative;
}

#favorite-sites {
    background-image: url(img/bg.jpg);
    border-top: 5px #D37EE8 solid;
    border-bottom: 5px #D37EE8 solid;
    text-align: center;
}

#favorite-sites ul {
    list-style-type: none;
    display:flex;
    justify-content: space-around;
    margin: 0;
    padding: 40px;
}
footer {
    background-color:#FF9ED4;
    color:#A6D9E1;
    text-align: center;
    /*font-family: 'lato',sans-serif;*/
    min-height: 100px;
}

footer> h1 {
    margin:0;
    transform: translateY(50%);
}
.max-width {
    margin:0 auto;
    max-width: 960px;
}
/*bootstrap related*/
.container-fluid {
    padding:0;
}
.image-modal {
    text-align: center;
}
#favorite-sites > .row > .col-md-3 > img{ 
    margin:0 auto;    
}